* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: rgb(178, 63, 251);
    background: radial-gradient(circle, rgb(188, 127, 225) 0%, rgb(104, 96, 176) 100%);
}
#root {
    min-height: 100vh;
    background: rgb(178, 63, 251);
    background: radial-gradient(circle, rgb(188, 127, 225) 0%, rgb(104, 96, 176) 100%);
}

.App {
    text-align: justify;
    color: black;
}
